:root {
  --background: #fffffe;
  --text: #0e172c;
  --primary: #d9d4e7;
  --secondary: #fec7d7;
  --tertiary: #a786df;
}

body {
  background-color: var(--background);
  color: var(--text);
}

#content {
  height: 100vh;
  display: grid;
  grid-template-rows: 8rem 1fr;
  grid-template-columns: 14rem 1fr;
}

.hero {
  grid-area: 1 / 2 / 2 / 3;
}

.hero-heading {
  font-size: 1.5rem;
}

.tasks {
  grid-area: 2 / 2 / -1 / -1;
  background-color: var(--background);
  display: flex;
  padding: 1rem;
  flex-wrap: wrap;
  gap: 8rem;
  overflow-y: auto;
}

.task {
  background-color: var(--primary);
  height: min-content;
  padding: 1rem;
}

.edit-btn {
  opacity: 0;
}

.task:hover .edit-btn {
  opacity: 1;
}

.add-task {
  height: min-content;
  padding: 1rem;
}

.priority-styling {
  border: 3px solid black;
}

.note {
  background-color: var(--background);
  height: min-content;
  padding: 1rem;
}

.note-edit-btn {
  opacity: 0;
}

.note:hover .note-edit-btn {
  opacity: 1;
}

.add-note-btn {
  height: min-content;
  padding: 1rem;
}

.taskbar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  grid-area: 1 / 1 / -1 / 2;
  background-color: var(--secondary);
  padding: 1rem 0 1rem 0;
}

.general-tasks,
.projects-todo,
.project-item,
.notes-btn-container,
.add-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.taskbar-btn {
  appearance: none;
  width: 80%;
  border: none;
  background-color: var(--secondary);
  padding: 1rem;
  border-radius: 0.15rem;
  cursor: pointer;
  transition: text-shadow 0.2s ease-out, background-color 0.2s ease-out;
}

.taskbar-btn:hover {
  background-color: var(--text);
  color: var(--primary);
  text-shadow: 0rem 0rem 0.1rem var(--primary);
}

.taskbar-btn-activate {
  background-color: var(--text);
  color: var(--primary);
  text-shadow: 0rem 0rem 0.1rem var(--primary);
}

.add-task,
.add-project-btn {
  border: 0.2rem solid var(--text);
}
