:root {
  --background: #fffffe;
  --heading: #272343;
  --text: #2d334a;
  --primary: #ffd803;
  --secondary: #e3f6f5;
  --tertiary: #bae8e8;
}

body {
  background-color: var(--background);
}

#content {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 8rem 1fr;
  grid-template-columns: 10rem 1fr;
}

.hero {
  grid-area: 1 / 2 / 2 / 3;
}

.hero-heading {
  font-size: 1.5rem;
}

.taskbar {
  grid-area: 1 / 1 / -1 / 2;
  background-color: var(--tertiary);
}

.tasks {
  grid-area: 2 / 2 / -1 / -1;
  background-color: var(--secondary);
}
